<div class="footer">
    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p><b>AR.Dimpal Patel</b> <br>Arcitecture<br> Contact No
                    <fa-icon [icon]="phoneIcon"></fa-icon> : <a href="tel: +8806195858 ">8806195858</a> </p>
            </div>
            <div class="col-md-6">
                <p><b>ID.Shruti Patil</b> <br>Interior Designer<br> Contact No
                    <fa-icon [icon]="phoneIcon"></fa-icon> :
                    <a href="tel: +7972539800">7972539800</a>
                </p>
            </div>
        </div>

    </div> -->
    <p class="text-center"> Location
        <fa-icon [icon]="locationIcon"></fa-icon> : Shahada | Nandurbar | Pune | Nashik
    </p>
</div>